@model TAP.Web.Areas.BlogArea.Models.UserBlogsViewModel
@{ ViewData["Title"] = "My Blogs"; }


            @if (Model.Blogs.Count() > 0)
            {
                <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Blogs)
        {
<tr>
    <td>@item.Title</td>
    <td>
        @item.Content
    </td>
    <td>
        @Html.ActionLink("View", "ViewBlog", "Blogs", new { blogID = item.Id }, new { @class = "btn btn-info", role = "button" })
    </td>
    <td>
        @Html.ActionLink("Delete", "DeleteBlog", "Blogs", new { id = item.Id, title = item.Title }, new { @class = "btn btn-danger", role = "button" })
    </td>
</tr>}
    </tbody>
</table> 
        </div>
        </div>
        </div>
        }
            else
            {
<h3>You haven't created any Blog.</h3>            }
        <div class="col-lg-6" style="text-align:center">
            @Html.ActionLink("Create A Blog", "CreateBlog", "Blogs", null, new { @class = "btn btn-secondary", role = "button" })
        </div>