@model TAP.Web.Areas.CommentsArea.Models.CommentCreateViewModel
@{ ViewData["Title"] = "Create New Blog"; }
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Create", "Comments", FormMethod.Post))
        {
    <div class="text-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.SelectMany(_ => _.Value.Errors))
            {
    <li>
        @error.ErrorMessage
    </li>}
        </ul>
    </div>
    <div class="form-group">
     @Html.Label("BlogContent", "Comment")
     @Html.TextAreaFor(_ => _.CommentContent, new { @class = "form-control" })
     @Html.ValidationMessageFor(_ => _.CommentContent, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
     @Html.AntiForgeryToken()
     @Html.HiddenFor(_ => _.blogID, Model.blogID)
    </div>

    <div class="form-group">
     @Html.AntiForgeryToken()
    <input type="submit" value="Create" class="btn btn-primary" />
    </div>}

    </div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

